@import "./custom_colors.scss";

nav.navbar {
    height: 70px;
    border-bottom: 0px solid $custom-purple;

    .navbar-brand {
        img {
            height: 40px;
            margin-top: 15px;
        }
    }
}

.navbar-logged {
    .navbar-menu {
        background: $mixed-colors-auth;
    }

    background: $mixed-colors-auth;
}

.navbar-menu {
    margin-top: -16px;
}