@import "./custom_colors";

.users{
  padding-top: 40px !important;

  height: calc(100% - 70px);

  .card-content{
    padding: 40px;
  }
  .users-edit{
    .title{
   margin-bottom: 15px;
    }
  }
}