@import './custom_colors.scss';

.waveSection {
    position: absolute;
    width: 100%;
    height: 15%;
    overflow: hidden;
    bottom: 0;
    left: 0;
}

.waveSection .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../assets/images/wave.png);
    background-size: 1000px 100px;
    z-index: 10;
}

.waveSection .wave.wave1 {
    animation: animate 10s linear infinite;
    z-index: 998;
    opacity: 0.9;
    animation-delay: 0s;
    bottom: 0;
}
.waveSection .wave.wave2 {
    animation: animate2 20s linear infinite;
    z-index: 997;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
.waveSection .wave.wave3 {
    animation: animate3 30s linear infinite;
    z-index: 996;
    opacity: 0.3;
    animation-delay: -20s;
    bottom: 25px;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position: 1000px;
    }
}
@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position: -1000px;
    }
}
@keyframes animate3 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position: 1000px;
    }
}